In [235]:
import pandas as pd
import numpy as np

movies=pd.read_csv("IMDbmovies.csv")
reviews=pd.read_csv("IMDbratings.csv")
movies.sample(10)

/Users/erikafox/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
5923,tt0040631,La collana insanguinata,Mystery in Mexico,1948,1948-08-21,"Crime, Mystery",66,USA,"English, Spanish",Robert Wise,...,"William Lundigan, Jacqueline White, Ricardo Co...",Insurance detective Steve Hastings is sent by ...,5.9,281,NaN,NaN,NaN,NaN,8.0,5.0
4524,tt0036067,Katariina ja Munkkiniemen kreivi,Katariina ja Munkkiniemen kreivi,1943,1943-01-31,Romance,110,Finland,Finnish,Ossi Elstelä,...,"Regina Linnanheimo, Leif Wager, Elsa Rantalain...",NaN,6.3,139,NaN,NaN,NaN,NaN,1.0,1.0
68592,tt2769896,Solan og Ludvig - Jul i Flåklypa,Solan og Ludvig - Jul i Flåklypa,2013,2013-11-08,"Animation, Family",76,Norway,Norwegian,Rasmus A. Sivertsen,...,"Kari Ann Grønsund, Trond Høvik, Trond Brænne, ...",The small town of Flåklypa is experiencing gre...,6.8,1510,NOK 25000000,NaN,$ 12345881,NaN,2.0,11.0
18165,tt0076636,Rollercoaster il grande brivido,Rollercoaster,1977,1977-12-16,"Action, Crime, Drama",119,USA,English,James Goldstone,...,"George Segal, Richard Widmark, Timothy Bottoms...",A blackmailer threatens to sabotage roller coa...,6.3,5547,$ 9000000,NaN,NaN,NaN,90.0,54.0
84153,tt8365432,As Zvaigzde,As Zvaigzde,2018,2018-02-02,Comedy,91,Lithuania,Lithuanian,Robertas Kuliunas,...,"Zigmantas Baranauskas, Marius Cizauskas, Elvin...",A most successful Lithuanian artist duo of Mon...,3.2,296,NaN,NaN,$ 272085,NaN,1.0,NaN
31098,tt0120366,Svolta pericolosa,Traveller,1997,1998-09-04,"Crime, Drama, Romance",101,USA,English,Jack N. Green,...,"Bill Paxton, Mark Wahlberg, Julianna Margulies...",A man joins a group of nomadic con artists in ...,6.1,1817,NaN,$ 534010,$ 534010,57.0,14.0,24.0
3762,tt0033289,Tom Edison giovane,Young Tom Edison,1940,1940-03-15,"Biography, Drama",86,USA,English,Norman Taurog,...,"Mickey Rooney, Fay Bainter, George Bancroft, V...",Inventor Thomas Edison's boyhood is chronicled...,6.8,1027,NaN,NaN,NaN,NaN,15.0,4.0
66247,tt2317744,Backkom-eui Mug-jan Yeo-haeng,Backkom-eui Mug-jan Yeo-haeng,2007,2007-03-22,"Animation, Adventure, Comedy",76,South Korea,"English, Korean","Aaron Lim, Aaron Lim",...,Stephen Hudges,A timid young boy named Sam befriends a brave ...,4.1,126,$ 5900000,NaN,$ 618400,NaN,2.0,2.0
67596,tt2509298,Ephraim's Rescue,Ephraim's Rescue,2013,2013-05-31,"Adventure, Drama, History",99,USA,English,T.C. Christensen,...,"Darin Southam, Richard Benedict, James Gaisfor...","By listening to and following his heart, Ephra...",6.1,728,NaN,NaN,NaN,NaN,17.0,1.0
73899,tt4162012,Sugihara Chiune,Sugihara Chiune,2015,2015-12-05,"Adventure, Biography, History",139,"Japan, Poland, USA","Japanese, English",Cellin Gluck,...,"Toshiaki Karasawa, Koyuki, Borys Szyc, Agniesz...","Against his country's orders, a Japanese diplo...",6.5,183,NaN,NaN,$ 6325922,NaN,2.0,12.0

In [236]:
reviews.sample(10)

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
47861,tt0462683,6.6,977,6.9,7.0,112,101,158,245,167,...,6.6,82.0,7.1,51.0,6.2,24.0,6.8,210.0,6.6,570.0
30492,tt0118887,6.9,84547,7.0,7.0,5133,5859,18525,29366,15747,...,6.7,1953.0,7.0,1425.0,6.8,588.0,7.1,17199.0,6.9,42225.0
12653,tt0060481,7.4,1978,7.5,8.0,229,249,622,453,231,...,7.6,99.0,7.8,128.0,6.5,134.0,7.2,400.0,7.5,1154.0
47946,tt0465142,5.4,24087,5.6,6.0,1119,762,1919,3873,5262,...,5.3,3576.0,5.7,925.0,5.3,290.0,5.4,5962.0,5.5,13091.0
10860,tt0055336,7.2,747,7.3,7.0,70,78,199,224,106,...,7.1,11.0,6.5,19.0,5.6,48.0,7.3,30.0,7.2,514.0
72452,tt3733678,5.7,446,6.1,6.0,68,24,43,78,70,...,6.2,45.0,4.3,15.0,5.3,57.0,5.9,99.0,5.1,136.0
61500,tt1739212,5.9,1384,6.5,6.0,265,46,93,225,316,...,6.1,46.0,7.9,12.0,5.7,79.0,6.1,176.0,5.8,537.0
16108,tt0070286,6.2,177,6.3,6.0,7,8,22,47,48,...,6.3,3.0,7.0,1.0,7.1,7.0,6.6,8.0,6.2,108.0
175,tt0010680,6.3,237,5.8,6.0,27,13,31,44,32,...,6.1,7.0,7.4,22.0,6.5,39.0,6.2,68.0,6.3,116.0
39157,tt0266732,5.5,676,6.3,6.0,121,28,45,116,126,...,5.3,107.0,5.8,22.0,4.9,29.0,5.5,282.0,5.7,259.0

In [237]:
moviesUSA=movies[movies["country"]=='USA']
moviesUSA=moviesUSA.dropna(subset=['budget'])
moviesUSA["budget"] = moviesUSA["budget"].str[2:]
moviesUSA=moviesUSA[moviesUSA["budget"].str.isdecimal()]
moviesUSA["budget"] = moviesUSA["budget"].astype(int)

In [238]:
# load inflation data
inflation = pd.read_csv('CPIAUCNS.csv')
# create index multiplier
inflation['CPI_Multiplier'] = inflation['CPIAUCNS'].iloc[-1] / inflation['CPIAUCNS']
inflation["DATE"]=inflation["DATE"].str[0:4]
avg=inflation["CPI_Multiplier"].groupby(inflation["DATE"]).mean().to_frame()
inflation=avg
inflation

      CPI_Multiplier
DATE
1913       27.989123
1914       27.617842
1915       27.365796
1916       25.446666
1917       21.618353
...              ...
2017        1.128415
2018        1.101518
2019        1.081924
2020        1.068723
2021        1.026687

[109 rows x 1 columns]

In [239]:
moviesUSA=moviesUSA.rename(columns={"date_published": "DATE"})
moviesUSA["DATE"]=moviesUSA["DATE"].str[0:4]
moviesUSA

,imdb_title_id,title,original_title,year,DATE,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
3,tt0002101,Cleopatra,Cleopatra,1912,1912,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,45000,NaN,NaN,NaN,25.0,3.0
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913,"Crime, Drama",88,USA,English,George Loane Tucker,...,"Jane Gail, Ethel Grandin, William H. Turner, M...","A woman, with the aid of her police officer sw...",6.0,552,5700,NaN,NaN,NaN,14.0,11.0
31,tt0004099,"His Majesty, the Scarecrow of Oz","His Majesty, the Scarecrow of Oz",1914,1914,"Family, Fantasy, Adventure",59,USA,English,J. Farrell MacDonald,...,"Violet MacMillan, Frank Moore, Pierre Couderc,...","A wicked king has taken over the Emerald City,...",5.2,415,23500,NaN,NaN,NaN,11.0,7.0
34,tt0004181,Judith of Bethulia,Judith of Bethulia,1914,1914,Drama,61,USA,English,D.W. Griffith,...,"Blanche Sweet, Henry B. Walthall, Mae Marsh, R...",A religious woman seeks to save her people fro...,6.1,1239,40000,NaN,NaN,NaN,16.0,9.0
36,tt0004465,The Perils of Pauline,The Perils of Pauline,1914,1914,"Action, Adventure, Drama",199,USA,English,"Louis J. Gasnier, Donald MacKenzie",...,"Pearl White, Crane Wilbur, Paul Panzer, Edward...",Young Pauline is left a lot of money when her ...,6.3,939,25000,NaN,NaN,NaN,5.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85684,tt9685652,Greyhound Attack,Greyhound Attack,2019,2019,"Action, Drama, War",80,USA,English,Christopher Forbes,...,"Brad Owens, Scotty Sparks, Bob Young, Christop...",NaN,1.2,215,1500000,NaN,NaN,NaN,44.0,NaN
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,"K.J. Apa, Britt Robertson, Nathan Parsons, Gar...",The true-life story of Christian music star Je...,6.5,6196,12000000,$ 9868521,$ 13681524,41.0,151.0,52.0
85773,tt9815714,The Hard Way,The Hard Way,2019,2019,Action,92,USA,English,Keoni Waxman,...,"Michael Jai White, Luke Goss, Randy Couture, M...",After learning his brother died on a mission i...,4.8,2357,3000000,NaN,NaN,NaN,50.0,14.0
85797,tt9840958,Love Struck Sick,Love Struck Sick,2019,2019,Romance,92,USA,English,Don Tjernagel,...,"Jordan Abbe, Jim Averill, Mikey Averill, Josh ...",This movie is all about one of the greatest Yo...,7.2,249,7000,NaN,NaN,NaN,NaN,NaN
85812,tt9860860,Abduction 101,Abduction 101,2019,2019,Horror,77,USA,English,"Robin Entreinger, Steve Noir",...,"Luna Labelle, Nixi Oblivion, Brianna Shewbert ...",Three beautiful women find a strange house in ...,2.3,174,500000,NaN,NaN,NaN,14.0,3.0

In [240]:
df = pd.merge(moviesUSA, inflation, how='left', on='DATE')

In [241]:
df["budget_adj"] = df['budget'] * df['CPI_Multiplier'] 
df["budget_adj"] = df["budget_adj"]/1000000
moviesUSA=df

In [242]:
#moviesUSA["action"]=np.where(moviesUSA["genre"].str.contains("Action"),1,0)
#moviesUSA["drama"]=np.where(moviesUSA["genre"].str.contains("Drama"),1,0)
#moviesUSA["adventure"]=np.where(moviesUSA["genre"].str.contains("Adventure"),1,0)
#moviesUSA["romance"]=np.where(moviesUSA["genre"].str.contains("Romance"),1,0)
#moviesUSA["horror"]=np.where(moviesUSA["genre"].str.contains("Horror"),1,0)
#moviesUSA["comedy"]=np.where(moviesUSA["genre"].str.contains("Comedy"),1,0)
#moviesUSA["scifi"]=np.where(moviesUSA["genre"].str.contains("Sci-Fi"),1,0)
#moviesUSA["family"]=np.where(moviesUSA["genre"].str.contains("Family"),1,0)
#moviesUSA.sample(10)

In [243]:
moviesUSA["genre2"]="Other"
moviesUSA["genre2"]=np.where(moviesUSA["genre"].str.contains("Drama"),"Drama",moviesUSA["genre2"])
moviesUSA["genre2"]=np.where(moviesUSA["genre"].str.contains("Romance"),"Romance",moviesUSA["genre2"])
moviesUSA["genre2"]=np.where(moviesUSA["genre"].str.contains("Thriller"),"Thriller",moviesUSA["genre2"])
moviesUSA["genre2"]=np.where(moviesUSA["genre"].str.contains("Action"),"Action",moviesUSA["genre2"])
moviesUSA["genre2"]=np.where(moviesUSA["genre"].str.contains("Comedy") ,"Comedy",moviesUSA["genre2"])
moviesUSA["genre2"]=np.where(moviesUSA["genre"].str.contains("Family"),"Family",moviesUSA["genre2"])
moviesUSA["genre2"]=np.where(moviesUSA["genre"].str.contains("Horror"),"Horror",moviesUSA["genre2"])
moviesUSA.sample(20)

,imdb_title_id,title,original_title,year,DATE,genre,duration,country,language,director,...,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,CPI_Multiplier,budget_adj,genre2
4450,tt0119484,Kull - Il conquistatore,Kull the Conqueror,1997,1997,"Action, Adventure, Fantasy",95,USA,English,John Nicolella,...,7617,20000000,$ 6112613,$ 6112613,NaN,78.0,51.0,1.723155,34.463092,Action
1758,tt0055069,L'idolo delle donne,The Ladies Man,1961,1962,Comedy,95,USA,English,Jerry Lewis,...,3518,3100000,NaN,NaN,NaN,25.0,31.0,9.143613,28.345201,Comedy
2616,tt0079429,The Lady in Red,The Lady in Red,1979,1979,"Action, Drama, Romance",93,USA,English,Lewis Teague,...,915,400000,NaN,NaN,NaN,13.0,19.0,3.816169,1.526468,Action
9592,tt3393702,All the Others Were Practice,All the Others Were Practice,2015,2015,"Comedy, Romance",82,USA,English,Brian Tolle,...,106,66000,NaN,NaN,NaN,1.0,NaN,1.167005,0.077022,Comedy
8276,tt1634106,Bloodshot,Bloodshot,2020,2020,"Action, Drama, Sci-Fi",109,USA,"English, Persian",Dave Wilson,...,49627,45000000,$ 10021787,$ 30855391,44.0,672.0,188.0,1.068723,48.092546,Action
6687,tt0772173,Interkosmos,Interkosmos,2006,2015,"Drama, History, Music",71,USA,"German, English",Jim Finn,...,107,9500,NaN,NaN,NaN,1.0,6.0,1.167005,0.011087,Drama
1710,tt0053993,Il cerchio della violenza,Key Witness,1960,1960,"Crime, Drama, Mystery",82,USA,English,Phil Karlson,...,292,857000,NaN,NaN,NaN,19.0,2.0,9.352391,8.014999,Drama
5444,tt0296166,Le donne vere hanno le curve,Real Women Have Curves,2002,2003,"Comedy, Drama",90,USA,"English, Spanish",Patricia Cardoso,...,6955,3000000,$ 5853194,$ 7777790,71.0,108.0,74.0,1.503577,4.510732,Comedy
8914,tt2132301,Dark Power,Dark Power,2013,2013,Thriller,98,USA,English,John Milton Branton,...,351,3000000,NaN,NaN,NaN,5.0,2.0,1.187317,3.561950,Thriller
1756,tt0055031,Vincitori e vinti,Judgment at Nuremberg,1961,1961,"Drama, War",179,USA,"English, German",Stanley Kramer,...,67359,3000000,NaN,$ 12180,60.0,217.0,102.0,9.253141,27.759424,Drama
4824,tt0157472,Clockstoppers,Clockstoppers,2002,2002,"Action, Adventure, Comedy",94,USA,English,Jonathan Frakes,...,13261,26000000,$ 36989956,$ 38793283,40.0,95.0,65.0,1.537754,39.981610,Comedy
6433,tt0470765,For Your Consideration,For Your Consideration,2006,2006,Comedy,86,USA,"English, French",Christopher Guest,...,13745,12000000,$ 5549923,$ 5925637,68.0,158.0,120.0,1.372127,16.465525,Comedy
1506,tt0049881,La legge del capestro,Tribute to a Bad Man,1956,1956,"Drama, Romance, Western",95,USA,English,Robert Wise,...,1306,2846000,NaN,NaN,NaN,23.0,9.0,10.176139,28.961293,Romance
7118,tt0979900,Into the Arms of Strangers,Into the Arms of Strangers,2007,2007,"Drama, Mystery, Thriller",93,USA,English,Chris Harris,...,128,75000,$ 382807,$ 382807,NaN,15.0,NaN,1.334142,0.100061,Thriller
8259,tt1623205,Il grande e potente Oz,Oz the Great and Powerful,2013,2013,"Adventure, Family, Fantasy",130,USA,English,Sam Raimi,...,197337,215000000,$ 234911825,$ 493311825,44.0,539.0,545.0,1.187317,255.273105,Family
9321,tt2669336,Time Lapse,Time Lapse,2014,2015,"Horror, Sci-Fi, Thriller",104,USA,English,Bradley King,...,40494,5000000,NaN,$ 19572,50.0,182.0,99.0,1.167005,5.835025,Horror
434,tt0027515,Desiderio,Desire,1936,1936,"Comedy, Crime, Romance",95,USA,"English, Spanish",Frank Borzage,...,2078,1200000,NaN,NaN,86.0,34.0,15.0,19.947938,23.937525,Comedy
1241,tt0045125,Scaramouche,Scaramouche,1952,1952,"Action, Adventure, Comedy",115,USA,English,George Sidney,...,5467,3500000,NaN,NaN,NaN,58.0,24.0,10.418047,36.463166,Comedy
741,tt0035669,Tragico oriente,Behind the Rising Sun,1943,1944,"Drama, War",88,USA,"English, Japanese",Edward Dmytryk,...,290,239000,NaN,NaN,NaN,14.0,9.0,15.723701,3.757964,Drama
10033,tt5143890,Justice,Justice,2017,2017,"Drama, Western",92,USA,NaN,Richard Gabai,...,896,5000000,$ 3259,$ 3259,NaN,27.0,2.0,1.128415,5.642074,Drama

In [244]:
moviesUSA=moviesUSA[moviesUSA["reviews_from_users"]>50]
moviesUSA.shape

(4363, 25)

In [245]:
moviesUSA=moviesUSA.dropna(subset=['usa_gross_income'])
moviesUSA["usa_gross_income"] = moviesUSA["usa_gross_income"].str[2:]
moviesUSA=moviesUSA[moviesUSA["usa_gross_income"].str.isdecimal()]
moviesUSA["usa_gross_income"] = moviesUSA["usa_gross_income"].astype(int)
moviesUSA["usa_gross_income"]

191          19181
445         163577
500      184925486
557      200852579
573         144738
           ...
10442    165363234
10445     19005109
10448     44451847
10450     10691091
10466      9868521
Name: usa_gross_income, Length: 3282, dtype: int64

In [246]:
moviesUSA["budget"].median()

20000000.0

In [247]:
#moviesUSA["budget_adj2"]="other"
#moviesUSA["budget_adj2"]=np.where( moviesUSA["budget"]>=40000000 ,"At least 40M", moviesUSA["budget2"])
#moviesUSA["budget_adj2"]=np.where( moviesUSA["budget"]<40000000 ,"BTW 20M and 40M", moviesUSA["budget2"])
#moviesUSA["budget_adj2"]=np.where( moviesUSA["budget"]<20000000 ,"BTW 8M and 20M", moviesUSA["budget2"])
#moviesUSA["budget_adj2"]=np.where(moviesUSA["budget"]<8000000 ,"Less than 8M", moviesUSA["budget2"])
#moviesUSA["budget2"].value_counts()

In [248]:
oscars=pd.read_csv("the_oscar_award.csv")
act=["ACTRESS IN A SUPPORTING ROLE","ACTRESS IN A LEADING ROLE","ACTOR","ACTRESS","ACTOR IN A SUPPORTING ROLE","ACTOR IN A LEADING ROLE"]
oscars=oscars[oscars["category"].isin(act)]
oscars.sample(10)

,year_film,year_ceremony,ceremony,category,name,film,winner
8566,2005,2006,78,ACTOR IN A LEADING ROLE,Philip Seymour Hoffman,Capote,True
4681,1969,1970,42,ACTRESS,Jean Simmons,The Happy Ending,False
7229,1993,1994,66,ACTRESS IN A LEADING ROLE,Emma Thompson,The Remains of the Day,False
5734,1979,1980,52,ACTRESS IN A LEADING ROLE,Jill Clayburgh,Starting Over,False
5725,1979,1980,52,ACTOR IN A LEADING ROLE,Jack Lemmon,The China Syndrome,False
5727,1979,1980,52,ACTOR IN A LEADING ROLE,Roy Scheider,All That Jazz,False
7225,1993,1994,66,ACTOR IN A SUPPORTING ROLE,Pete Postlethwaite,In the Name of the Father,False
8470,2004,2005,77,ACTRESS IN A SUPPORTING ROLE,Sophie Okonedo,Hotel Rwanda,False
5941,1981,1982,54,ACTOR IN A SUPPORTING ROLE,Jack Nicholson,Reds,False
6688,1988,1989,61,ACTRESS IN A LEADING ROLE,Glenn Close,Dangerous Liaisons,False

In [249]:
moviesUSA["oscar"]=moviesUSA["actors"].apply(lambda x: any([k in x for k in oscars["name"]]))
moviesUSA["oscar"].value_counts()

True     2391
False     891
Name: oscar, dtype: int64

In [250]:
moviesUSA["year"]=moviesUSA["year"].astype(int)
oscars["year_film"]=oscars["year_film"].astype(int)

In [251]:
drop=[]
for i in range(1931,2021):
    odata=oscars[oscars["year_film"]<=i]
    mdata=moviesUSA[moviesUSA["year"]<=i]
    moviesUSA["oscar "+str(i)]=mdata["actors"].apply(lambda x: any([k in x for k in odata["name"]]))
    drop.append("oscar "+str(i))

In [252]:
drop
#moviesUSA["oscar3"]=np.where(moviesUSA["oscar "+str(moviesUSA["year"])],1,0)

['oscar 1931',
 'oscar 1932',
 'oscar 1933',
 'oscar 1934',
 'oscar 1935',
 'oscar 1936',
 'oscar 1937',
 'oscar 1938',
 'oscar 1939',
 'oscar 1940',
 'oscar 1941',
 'oscar 1942',
 'oscar 1943',
 'oscar 1944',
 'oscar 1945',
 'oscar 1946',
 'oscar 1947',
 'oscar 1948',
 'oscar 1949',
 'oscar 1950',
 'oscar 1951',
 'oscar 1952',
 'oscar 1953',
 'oscar 1954',
 'oscar 1955',
 'oscar 1956',
 'oscar 1957',
 'oscar 1958',
 'oscar 1959',
 'oscar 1960',
 'oscar 1961',
 'oscar 1962',
 'oscar 1963',
 'oscar 1964',
 'oscar 1965',
 'oscar 1966',
 'oscar 1967',
 'oscar 1968',
 'oscar 1969',
 'oscar 1970',
 'oscar 1971',
 'oscar 1972',
 'oscar 1973',
 'oscar 1974',
 'oscar 1975',
 'oscar 1976',
 'oscar 1977',
 'oscar 1978',
 'oscar 1979',
 'oscar 1980',
 'oscar 1981',
 'oscar 1982',
 'oscar 1983',
 'oscar 1984',
 'oscar 1985',
 'oscar 1986',
 'oscar 1987',
 'oscar 1988',
 'oscar 1989',
 'oscar 1990',
 'oscar 1991',
 'oscar 1992',
 'oscar 1993',
 'oscar 1994',
 'oscar 1995',
 'oscar 1996',
 'oscar 1997',
 'oscar 1998',
 'oscar 1999',
 'oscar 2000',
 'oscar 2001',
 'oscar 2002',
 'oscar 2003',
 'oscar 2004',
 'oscar 2005',
 'oscar 2006',
 'oscar 2007',
 'oscar 2008',
 'oscar 2009',
 'oscar 2010',
 'oscar 2011',
 'oscar 2012',
 'oscar 2013',
 'oscar 2014',
 'oscar 2015',
 'oscar 2016',
 'oscar 2017',
 'oscar 2018',
 'oscar 2019',
 'oscar 2020']

In [253]:
moviesUSA["oscar2"]=False 
for index, row in moviesUSA.iterrows():
   moviesUSA.at[index, 'oscar2']=row["oscar "+str(row["year"])]

In [254]:
moviesUSA["oscar2"].value_counts()

True     2103
False    1179
Name: oscar2, dtype: int64

In [255]:
moviesUSA=moviesUSA.drop(columns=drop)
moviesUSA

,imdb_title_id,title,original_title,year,DATE,genre,duration,country,language,director,...,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics,CPI_Multiplier,budget_adj,genre2,oscar,oscar2
191,tt0021749,Luci della città,City Lights,1931,1931,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,...,19181,$ 46008,99.0,295.0,122.0,18.198223,27.297334,Comedy,True,False
445,tt0027977,Tempi moderni,Modern Times,1936,1937,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,...,163577,$ 457688,96.0,307.0,115.0,19.232449,28.848674,Family,True,False
500,tt0029583,Biancaneve e i sette nani,Snow White and the Seven Dwarfs,1937,1938,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand",...,184925486,$ 184925486,95.0,260.0,173.0,19.628246,29.422741,Family,False,False
557,tt0031381,Via col vento,Gone with the Wind,1939,1949,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor",...,200852579,$ 402352579,97.0,881.0,197.0,11.617540,46.202955,Romance,True,True
573,tt0031679,Mr. Smith va a Washington,Mr. Smith Goes to Washington,1939,1947,"Comedy, Drama",129,USA,English,Frank Capra,...,144738,$ 144738,73.0,296.0,88.0,12.398913,23.557935,Comedy,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10442,tt8946378,Cena con delitto - Knives Out,Knives Out,2019,2019,"Comedy, Crime, Drama",130,USA,"English, Spanish, Hindi",Rian Johnson,...,165363234,$ 309232797,82.0,2334.0,448.0,1.081924,43.276960,Comedy,True,True
10445,tt9024106,Unplanned,Unplanned,2019,2019,"Biography, Drama",109,USA,English,"Chuck Konzelman, Cary Solomon",...,19005109,$ 21171090,10.0,629.0,34.0,1.081924,6.491544,Drama,False,False
10448,tt9134216,Non si scherza col fuoco,Playing with Fire,2019,2020,"Comedy, Family",96,USA,"English, Spanish",Andy Fickman,...,44451847,$ 68631669,24.0,219.0,62.0,1.068723,31.954825,Family,False,False
10450,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020,Comedy,92,USA,English,Chris Henchy,...,10691091,$ 10691091,39.0,152.0,17.0,1.068723,3.206170,Comedy,False,False
10466,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,9868521,$ 13681524,41.0,151.0,52.0,1.068723,12.824679,Drama,True,True

In [256]:
reviews2= reviews[["imdb_title_id", "mean_vote"]]
reviews2

      imdb_title_id  mean_vote
0         tt0000009        5.9
1         tt0000574        6.3
2         tt0001892        6.0
3         tt0002101        5.3
4         tt0002130        6.9
...             ...        ...
85850     tt9908390        5.5
85851     tt9911196        7.9
85852     tt9911774        7.8
85853     tt9914286        9.4
85854     tt9914942        6.8

[85855 rows x 2 columns]

In [257]:
moviesUSA.to_csv("moviesUSA.csv")
reviews2.to_csv("reviews2.csv")